<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <title>Hello World</title>
    </head>
    <body ng-app="app" ng-controller="mainController" style="margin: 2%;font-size: 14px;">
    <button style = "padding: 3%;margin: 1%;" ng-click="save()">Save</button>
    <button style = "padding: 3%;margin: 1%;" ng-click="load()">Load</button>
    <button style = "padding: 3%;margin: 1%;" ng-click="barcode()">Barcode</button>
    <br>

    <p>local storage : {{data}}</p>

    <div ng-controller="SignatureCtrl">
       <div>
           <canvas id='signatureCanvas' width='300' height='300' style='border: 1px solid black;'></canvas>
       </div>

        <div>
            <button style = "padding: 3%;margin: 1%;" ng-click='clearCanvas()'>Clear Drawing</button>
            <button style = "padding: 3%;margin: 1%;" ng-click='saveCanvas()'>Drawing Save</button>
        </div>

        <br>
        <img ng-src='{{signature}}'/>
    </div>

    <!--<button ng-click="getMyLocation()" style = "padding: 3%;margin: 1%;">Get My location</button>
    <button ng-click="takePhoto()" style = "padding: 3%;margin: 1%;">Take Photo</button>
    <button ng-click="takeVideo()" style = "padding: 3%;margin: 1%;">Take Video</button>

    <div style = "margin:10px" ng-if = "location">
        <b>My geolocation:</b> <br />
        Latitude: {{position.coords.latitude}} <br />
        Longitude: {{position.coords.longitude}} <br />
        Altitude: {{position.coords.altitude}} <br />
        Accuracy: {{position.coords.accuracy}} <br />
        Altitude Accuracy: {{position.coords.altitudeAccuracy}} <br />
        Heading: {{position.coords.heading}} <br />
        Speed: {{position.coords.speed}} <br />
        Timestamp: {{position.timestamp}} <br />
    </div>

    {{ media|json}}

    <div ng-if = "media.type == 'photo'">
        <img ng-src="{{media.data}}">
    </div>
    <div ng-if = "media.type == 'video'">
        <video width="320" height="240" controls  >
            <source ng-src="{{media.data}}" >
        </video>
    </div>

    <div>
        <select class="" ng-model="select.value1" material-select watch>
            <option value="">Choose</option>
            <option ng-repeat="value in select.choices">{{value}}</option>
        </select>
    </div>-->


    <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>

    <script type="text/javascript" src="js/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/bower_components/angular/angular-route.min.js"></script>
    <script type="text/javascript" src="js/ngStorage.js"></script>
    <script type="text/javascript" src="js/bower_components/signature_pad/signature_pad.js"></script>
    <script type="text/javascript" src = "js/bower_components/angular-materialize/angular-materialize.js"></script>
    <script type="text/javascript" src="app/app.js"></script>

    <!--ngCordova and cordova pligin support-->
    <script type="text/javascript" src="cordova.js"></script>

    <script type="text/javascript">
        app.initialize();

    </script>
    </body>
</html>
